.c-player {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 90%;
	max-width: 800px;
	margin: 50px auto;
	flex-grow: 1;
}

.c-player .now-playing-box {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	position: relative;
	font-size: 1.4em;
}

.c-player .now-playing-box .start-button {
	cursor: pointer;
}

.c-player .now-playing-box p:hover {
	text-decoration: underline;
}

.c-player h4 {
	color: #fff;
	font-size: 1em;
	text-transform: uppercase;
	font-weight: 500;
	text-align: center;
}

.c-player p {
	color: rgb(230, 227, 227);
	font-size: 1.4em;
	text-align: center;
	font-weight: 400;
}

.c-player-details .details-img {
	position: relative;
	width: fit-content;
	margin: 0 auto 50px auto;
}

.c-player-details .details-img img {
	display: block;
	margin: 0px auto;
	width: 100%;
	max-width: 250px;
	border-radius: 50%;
}

.c-player-details .details-title {
	color: #eee;
	font-size: 2em;
	text-align: center;
	margin-bottom: 10px;
}

.c-player-details .details-artist {
	color: rgb(230, 227, 227);
	font-size: 1.4em;
	text-align: center;
	margin: 0px auto 20px auto;
}

.c-player-controls {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
}

.c-player-controls .play-btn,
.c-player-controls .play-btn-dark {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 25px 50px;
	padding: 20px;
	border: 0px;
	outline: none;
	color: #fff;
	font-size: 2em;
	cursor: pointer;
	border-radius: 50%;
	background: transparent;
}

.c-player-controls .skip-btn {
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
	color: rgb(230, 227, 227);
	font-size: 1.4em;
}

.progress-bar-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 600px;
	max-width: 100%;
}

.progress-bar-container .progress {
	height: 5px;
	-webkit-appearance: none;
	width: 100%;
	border-radius: 8px;
	cursor: pointer;
}

input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	background: white;
	width: 15px;
	height: 15px;
	border-radius: 10px;
}
