.container-user,
.container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
    width: 100%;
    height: 100%;
}

.container-user:hover .avatar {
	opacity: 0.6;
    transition: 0.1s ease-in-out;
}

.container-user:hover .upload-icon {
	visibility: visible;
    font-size: 16pt;
    color: white;
}

.avatar {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
    transition: 0.1s ease-in-out;
}

.upload-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 5pt;
	z-index: 2;
	visibility: hidden;
	color: rgb(245, 245, 245);
    transition: 0.1s ease-in-out;
}

.upload-input {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 3;
	cursor: pointer;
}

::-webkit-file-upload-button { cursor:pointer; }
