@media (max-width: 767px) {
	.navbar-links {
		display: none !important;
	}
}

@media (min-width: 768px) {
	.mobile-nav-button {
		display: none;
	}
}

.navbar {
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 5%;
	z-index: 1;
	overflow: hidden;
}

.navbar .navbar-links {
	display: flex;
	min-width: 300px;
	height: 50px;
}

.navbar .navbar-links .nav-link-light,
.navbar .navbar-links .nav-link-dark {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 5%;
	font-size: 1.1em;
}

.navbar .navbar-links .nav-link-light:hover {
	font-size: 1.15em;
	color: #c4e7e9;
}

.navbar .navbar-links .nav-link-dark:hover {
	font-size: 1.15em;
	color: #7e57c2;
}

.navbar .navbar-links .active-link-light {
	font-weight: 800;
	color: #c4e7e9;
}

.navbar .navbar-links .active-link-dark {
	font-weight: 800;
	color: #7e57c2;
}

.navbar-links .theme-toggle {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0 5%;
	margin-right: 20px;
}

@media (max-width: 767px) {
	.mobile-nav-button {
		display: flex;
		align-items: center;
		font-size: 2.5rem;
		margin: 15px;
		cursor: pointer;
	}

	.navbar {
		z-index: 1001;
	}
}
